<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SQL Expressions</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container content">
    <br><br>
    <div>
        <div class="text-center">
            <h3>List of available tables</h3>
        </div>
        <hr>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Name of table</th>
                <th>Name of fields</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="table : ${tables}">
                <td th:text="${table.name}"></td>
                <td th:text="${table.fields}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${result}">
        <h3>Result:</h3><text th:text="${result}"></text>
    </div>

    <div>
        <br><br>
        <h3>Enter your SQL expression</h3>
        <hr>
        <form th:action="@{/execute}" method="post">
            <p><textarea rows="5" cols="150" name="query"></textarea></p>
            <div class="form-group">
                <button type="submit" class="btn btn-default btn-info">Execute</button>
            </div>
        </form>
    </div>

</div>

<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>